<!DOCTYPE html>
<html lang="en">

<head>
    <title>Temple Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <?php 
        //CSS Files
        add_css('assets/css/dataTables.css');
        add_css('assets/css/bootstrap.min.css');
        add_css('assets/css/okayNav.css');
        add_css('assets/css/bootstrap.css');
        add_css('assets/css/bootstrap-datepicker3.min.css');
        add_css('assets/css/custom_version.css');
        add_css('assets/css/developer.css');
        //JS Files
        add_js('assets/js/jquery.min.js');
        add_js('assets/js/jquery-1.11.3.js');
        add_js('assets/js/popper.min.js');
        add_js('assets/js/bootstrap.min.js');
        add_js('assets/js/jquery.dataTables.min.js');
        add_js('assets/js/parsley.js');
        add_js('assets/js/moment.js');
        add_js('assets/js/bootstrap-datepicker.js"');
        add_js('assets/js/form.js');
        add_js('assets/js/toaster.js');
        add_js('assets/js/babel/babel.js');
        add_js('assets/js/utils.js');
        add_js('assets/js/bootbox.min.js');
        add_js('assets/js/script.js');
        add_js('assets/js/jquery.okayNav.js');
        add_js('assets/js/jquery.validate.min.js');
        add_js('assets/js/scrollBar.js');
        add_js('assets/js/jquery.marquee.js');
		add_js('assets/js/Chart.min.js');

		add_js('assets/js/core.js');
        add_js('assets/js/charts.js');
		add_js('assets/js/animated.js');
    ?>
    <?php function add_css($url) { ?>
    <link href="<?php echo base_url($url) . "?v=" . SCRIPT_CACHE_CODE ?>" rel="stylesheet" type="text/css" />
    <?php } ?>
    <?php function add_js($url) { ?>
    <script src="<?php echo base_url($url) . "?v=" . SCRIPT_CACHE_CODE ?>"></script>
    <?php } ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="load">
        <img src="<?php echo base_url() ?>assets/images/loading.svg">
    </div>
    <section class="header">
        <h1>Temple Management System</h1>
        <a href="<?php echo base_url() ?>logout"><span class="fa fa-power-off"></span></a>




        <div class="dropdown">
            <a class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="fa fa-cog"></span>
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item">
                    <a href="<?php echo base_url('auth/change_password') ?>">Change Password</a>
                </li>
                <li class="dropdown-submenu  left-submenu">
                    <a class="dropdown-item" tabindex="-1" href="#">Switch Language</a>
                    <ul class="dropdown-menu">
                        <?php foreach($languages as $row){
                            if($row->id == $this->session->userdata('language')){
                                echo "<li class='dropdown-item' style='background-color:#589ffc;'>";
                            }else{
                                echo "<li class='dropdown-item'>";
                            }
                            echo "<a href='".base_url()."auth/switch_language/$row->id'>$row->language</a>";
                            echo "</li>";
                        } ?>
                    </ul>
                </li>
                <li class="dropdown-submenu  left-submenu">
                    <a class="dropdown-item" tabindex="-1" href="#">Switch Temple</a>
                    <ul class="dropdown-menu">
                        <?php foreach($temples as $row){
                            if($row->id == $this->session->userdata('temple')){
                                echo "<li class='dropdown-item' style='background-color: red;'>";
                            }else{
                                echo "<li class='dropdown-item'>";
                            }
                            echo "<a href='".base_url()."auth/switch_temple/$row->id'>$row->temple</a>";
                            echo "</li>";
                        } ?>
                    </ul>
                </li>
            </ul>
        </div>


        <div id="noti">
            <div id="noti_Counter"></div>
            <div id="noti_Button"><i class="fa fa-bell"></i></div>
            <div id="notifications">

                <h3>Notifications </h3>
                <div class="Notlist">
                    <div class="sb-container customScrollbar">
                        <ul>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                            <li>
                                <h6>Dummy </h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    <span>4 Hours Ago</span>
                                    <p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="seeAll"><a href="#">See All</a></div>

            </div>
        </div>



        <span class="user_name"><?php echo $this->session->userdata('name') ?></span>
    </section>
    <section class="menu_wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row MenuBox">
                        <div role="" id="nav-main" class="okayNav">
                            <ul>
                                <?php 
                            foreach($mainmenu as $row){
                                echo "<li>";
                                if($main_menu_id == $row['id']){
                                    echo "<a class='active' href='".base_url().$row['link']."'>".$row['menu']."</a>";
                                }else{
                                    echo "<a  href='".base_url().$row['link']."'>".$row['menu']."</a>";
                                }
                                echo "</li>";
                            } 
                            ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content_section">
        <div class="re_menu">
            <div id="menu">
                <i class="fas fa-bars"></i>
            </div>
            <div id="nav_list_panel">
                <i id="re_menu_close" class="far fa-times-circle"></i>
                <ul class="navbar-nav nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu1">Menu 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu2">Menu 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu3">Menu 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu4">Menu 4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu5">Menu 5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#menu6">Menu 6</a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="tab_content_section dashboardsetion">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="tab_nav">
                            <div class="tab_box ">
                                <div class="tab-content">
                                    <h3>dashboard</h3>
                                    <hr class="hrCustom">
                                    <div class="bg_form">
                                        <div class="row">
                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                                    <div class="counter dashboard-bg">
                                                        <h4 class="title">Counter 1</h4>
                                                        <p>Demmy<span>14000/-</span></p>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                                    <div class="counter dashboard-bg">
                                                        <h4 class="title">Counter 2</h4>
                                                        <p>Demmy<span>14000/-</span></p>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                                    <div class="counter closeCounter dashboard-bg">
                                                        <h4 class="title">Counter 3</h4>
                                                        <p>Closed<span>-</span></p>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                                    <div class="counter dashboard-bg">
                                                        <h4 class="title">Counter 3</h4>
                                                        <p>Demmy<span>14000/-</span></p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                <div class="baybook dashboard-bg">
                                                    <h4>Day Book</h4>

                                                    <!-- <canvas id="pie-chart" width="800"  height="470"></canvas> -->
                                                    <div id="chartdiv" width="800" height="470"></div>
                                                    <div class="view">
                                                        <a href="">View all</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6">
                                                <div class="pooja dashboard-bg">
                                                    <h4>pooja</h4>
                                                    <div class="btn-group  btn-group-sm" role="group"
                                                        aria-label="Basic example">
                                                        <button type="button" class="btn btn-secondary">Today</button>
                                                        <button type="button" class="btn btn-secondary">Week</button>
                                                        <div class="btn-group" role="group">
                                                            <button id="btnGroupDrop1" type="button"
                                                                class="btn btn-secondary dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                Month
                                                            </button>
                                                            <div class="dropdown-menu sb-container customScrollbar"
                                                                aria-labelledby="btnGroupDrop1">
                                                                <a class="dropdown-item" href="#">Jan</a>
                                                                <a class="dropdown-item" href="#">Feb</a>
                                                                <a class="dropdown-item" href="#">Jan</a>
                                                                <a class="dropdown-item" href="#">Feb</a>
                                                                <a class="dropdown-item" href="#">Jan</a>
                                                                <a class="dropdown-item" href="#">Feb</a>
                                                                <a class="dropdown-item" href="#">Jan</a>
                                                                <a class="dropdown-item" href="#">Feb</a>
                                                                <a class="dropdown-item" href="#">Jan</a>
                                                                <a class="dropdown-item" href="#">Feb</a>
                                                                <a class="dropdown-item" href="#">Jan</a>
                                                                <a class="dropdown-item" href="#">Feb</a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="table-responsive sb-container customScrollbar">
                                                        <table class="table  table-striped">
                                                            <thead>
                                                                <tr class="bg-warning text-white">
                                                                    <th scope="col">sl:no</th>
                                                                    <th scope="col">Pooja</th>
                                                                    <th scope="col">Rate</th>
                                                                    <th scope="col">Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">3</th>
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td><a
                                                                            class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="view">
                                                        <a href="">View all</a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="baybook monthlyincome dashboard-bg">
                                                <h4>Monthly Income </h4>
                                                <!-- <canvas id="bar-chart-grouped" width="800" height="450"></canvas> -->
                                                <canvas id="chartJSContainer" width="800" height="470"></canvas>
                                                <div class="view">
                                                    <a href="">View all</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="pooja dashboard-bg">
                                                <h4>Leave</h4>
                                                <div class="btn-group  btn-group-sm" role="group"
                                                    aria-label="Basic example">
                                                    <button type="button" class="btn btn-secondary">Today</button>
                                                    <button type="button" class="btn btn-secondary">Week</button>
                                                    <div class="btn-group" role="group">
                                                        <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            Month
                                                        </button>
                                                        <div class="dropdown-menu sb-container customScrollbar"
                                                            aria-labelledby="btnGroupDrop1">
                                                            <a class="dropdown-item" href="#">Jan</a>
                                                            <a class="dropdown-item" href="#">Feb</a>
                                                            <a class="dropdown-item" href="#">Jan</a>
                                                            <a class="dropdown-item" href="#">Feb</a>
                                                            <a class="dropdown-item" href="#">Jan</a>
                                                            <a class="dropdown-item" href="#">Feb</a>
                                                            <a class="dropdown-item" href="#">Jan</a>
                                                            <a class="dropdown-item" href="#">Feb</a>
                                                            <a class="dropdown-item" href="#">Jan</a>
                                                            <a class="dropdown-item" href="#">Feb</a>
                                                            <a class="dropdown-item" href="#">Jan</a>
                                                            <a class="dropdown-item" href="#">Feb</a>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="table-responsive sb-container customScrollbar">
                                                    <table class="table  table-striped">
                                                        <thead>
                                                            <tr class="bg-warning text-white">
                                                                <th scope="col">sl:no</th>
                                                                <th scope="col">Pooja</th>
                                                                <th scope="col">Rate</th>
                                                                <th scope="col">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td><a class="btn  btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td><a
                                                                        class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">2</th>
                                                                <td>Jacob</td>
                                                                <td>Thornton</td>
                                                                <td><a
                                                                        class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">3</th>
                                                                <td>Larry</td>
                                                                <td>the Bird</td>
                                                                <td><a
                                                                        class="btn btn-warning btn-sm delete btn_active">Active</a>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="view">
                                                    <a href="">View all</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </section>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">Modal body..</div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <span>© Temple Management System</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>